name: Publish Docker image

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  push_to_registries:
    name: Push Docker image to github registry
    runs-on: [self-hosted, docker]
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -t j3sb/inleed-dynamic-dns .

      - name: Publish image
        run: docker push j3sb/inleed-dynamic-dns